.auth {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state {
  font-size: 1.4rem;
}

.toggleBtn {
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  border: none;
  background: none;
  color: var(--color-brand--2);
}
